Repository microsoft/semantic-kernel-java, changes with the labels that .github/labeler.yml gives for each.
All labels: kernel, kernel.core, python, java, samples, .NET, copilot chat, documentation, memory

.github/labeler.yml:

# Add 'kernel' label to any change within Connectors, Extensions, Skills, and tests directories
kernel:
  - dotnet/src/Connectors/**/*
  - dotnet/src/Extensions/**/*
  - dotnet/src/Skills/**/*
  - dotnet/src/IntegrationTests/**/*
  - dotnet/src/SemanticKernel.UnitTests/**/*

# Add 'kernel.core' label to any change within the 'SemanticKernel', 'SemanticKernel.Abstractions', or 'SemanticKernel.MetaPackage' directories
kernel.core:
  - dotnet/src/SemanticKernel/**/*
  - dotnet/src/SemanticKernel.Abstractions/**/*
  - dotnet/src/SemanticKernel.MetaPackage/**/*

# Add 'python' label to any change within the 'python' directory
python:
  - python/**/*

# Add 'java' label to any change within the 'java' directory
java:
  - java/**/*

# Add 'samples' label to any change within the 'samples' directory
samples:
  - samples/**/*

# Add '.NET' label to any change within samples or kernel 'dotnet' directories.
.NET:
  - dotnet/**/*

# Add 'copilot chat' label to any change within the 'samples/apps/copilot-chat-app' directory
copilot chat:
  - samples/apps/copilot-chat-app/**/*

# Add 'documentation' label to any change within the 'docs' directory, or any '.md' files
documentation:
  - docs/**/*
  - '**/*.md'

# Add 'memory' label to any memory connectors in dotnet/ or python/
memory:
  - dotnet/src/Connectors/Connectors.Memory.*/**/*
  - python/semantic_kernel/connectors/memory/**/*

Java: Add setting for UserAgent (#6586)
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/implementation/OpenAIRequestSettings.java
Labels: java

Java: Add setting for UserAgent (#6586)
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/implementation/OpenAIRequestSettings.java
Labels: java

Java: Add GeminiTextGenerationService and usage data to chat completion (#6583)
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiChatCompletion.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/textcompletion/GeminiTextGenerationService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example43_GetModelResult.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example98_GeminiFunctionCalling.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example98_GeminiFunctionCalling.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResultMetadata.java
Labels: java

Java: Add GeminiTextGenerationService and usage data to chat completion (#6583)
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/chatcompletion/GeminiChatCompletion.java
  java/aiservices/google/src/main/java/com/microsoft/semantickernel/aiservices/google/textcompletion/GeminiTextGenerationService.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/chatcompletion/OpenAIChatCompletion.java
  java/aiservices/openai/src/main/java/com/microsoft/semantickernel/aiservices/openai/textcompletion/OpenAITextGenerationService.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example43_GetModelResult.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example98_GeminiFunctionCalling.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example98_GeminiFunctionCalling.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResult.java
  java/semantickernel-api/src/main/java/com/microsoft/semantickernel/orchestration/FunctionResultMetadata.java
Labels: java

Summarized README for Java specific issues. Reference the main semantic kernel repo for full text.
  README.md
Labels: documentation

Summarized README for Java specific issues. Reference the main semantic kernel repo for full text.
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Apply formatting rules
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/Example57_KernelHooks.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/chatcompletion/Example96_GeminiChatCompletion.java
  java/samples/semantickernel-concepts/semantickernel-syntax-examples/src/main/java/com/microsoft/semantickernel/samples/syntaxexamples/functions/Example98_GeminiFunctionCalling.java
Labels: java

Remove old branch
  .github/workflows/java-build.yml
Labels: none
